

 .navig{
    display: flex;
    text-align: right;
    justify-content: right;
   }
 
 .navigation{
   margin: left 5px; 
   margin-top: -5%;
   padding: 10px 10px;
   margin-right: 40px;
 }
 .log{
   padding: 5px;
   margin: 0px;
 }
 #blog{
   padding: 5px;
   margin: 0px;
 }
 #acc{
   padding: 5px;
   margin: 0px;
   }
   #bag{
      padding: 5px;
      margin: 0px;
    }
    #ab{
      padding: 5px;
      margin: 0px;
    }
    body{
      background-image: url(kpling20.avif);
      background-repeat: no-repeat;
      background-size: cover;
      
    
    }
    button{
     padding: 15px;
     font-size: 10px;
     font-weight: bold;
     background-color: #a9e34b;
     border-radius: 20px;
    }
    .container{
      display: flex;

    }
    
   nav a{
    margin-left: 40%;
    text-decoration: none;
    margin-right: 30px;
   }